
	#timetable  {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#timetable td, #timetable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#timetable tr:nth-child(even){background-color: #f2f2f2;}

#timetable tr:hover {background-color: #ddd;}

#timetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a1b736;
  color: white;
  text-align: center;
}
p{
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
	#timetable2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

#timetable2 td, #timetable2 th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#timetable2 tr:nth-child(even){background-color: #f2f2f2;}

#timetable2 tr:hover {background-color: #ddd;}

#timetable2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}
p{
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 0px)
	{
		.province{width: 100%!important; float: left;}
	}

@media only screen and (min-width: 320px)
	{
		.province{width: 50%!important; float: left;}
	}
@media only screen and (min-width: 470px)
	{
		.province{width: 33%!important; float: left;}
	}	
@media only screen and (min-width: 670px)
	{
		.province{width: 25%!important; float: left;}
	}
@media only screen and (min-width: 780px)
	{
		.province{width: 20%!important; float: left;}
	}	
	h1,h2,h3,h4,h5,h6{
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
    

	}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
  #head-row {color: black; background-color:#a1b736;}

  input {
    font-size: 20px;
    text-align: center;
  }
.caption {font-size: 20px; color: #d95722; text-align: center; width: 200px;}


